/* || General setup */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #b4b4b4;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */

header img{
  display:flex;
  
}

main#main2{
  background-color:goldenrod;
}

main#main2 p#lastp{

  padding-bottom: 10px;

}


h2 {
  text-align: left;
  padding-top: 10px;

}


/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}


body>* {
  background-color: rgb(0, 0, 0);

}


header nav ul li a {

  color: antiquewhite;

}

article {
  flex: 4;
  background-color: goldenrod;
}



h1 {
  flex: 5;
  text-align: center;
  padding-top:15px;
}


nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
  justify-content: flex-start;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a,
nav span {

  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}

main h2 {
  padding-left: 10px;
}

main p {
  padding-left: 10px;
  padding-right: 10px;
}

aside {
  display: flex;
}

footer {
  color: aliceblue;
}

footer p {
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}