/* || General setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Container */
.container-fluid {
  max-width: 100%;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

/* Flex Grid */

.row {
  display: flex;
  flex-wrap: wrap;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}


html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-image: url(/images/dark_souls_3_bg.jpg);
  background-size: cover;

}

figure {

  padding-left: 20px;
}

figcaption {

  padding-left: 60px;
  padding-bottom: 10px;
}

.figcapindex {

  padding-left: 10px;
}

p {
  font-family: 'Red Hat Mono', monospace;
  width: 40%;

}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */

header img {
  display: flex;
  height: 100px;
}

.indeximg {

  padding-top: 10px;
  width: 40%;
  height: 30%;

}

.formarticle{
  padding-bottom: 10px;

}
#articid{
  padding-bottom: 10px;
}

form {
  margin: auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-bottom: 20px;
}

#send{
  padding-left: 0px;
}


div+div {
  margin-top: 1em;
}

label span {
  display: inline-block;
  width: 120px;
  text-align: right;
}

label {
  padding-left: 10px;
}

div fieldset{
margin-bottom: 20px;

}

input,
textarea {
  font: 1em sans-serif;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #999;
 
}

input[type=checkbox],
input[type=radio] {
  width: auto;

}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 10em;
  resize: vertical;
  margin-left: 60px;
  margin-top: 10px;
}



#nom{
  margin-left: 37px;
}

#tel{
  margin-left: 8px;
}

#none{
  margin-left: 59px;
}

#all{
margin-left: 80px;
}

#exp{
  margin-left: 22px;
}

#vet{
  margin-left: 73px;
}

#game, #send, #reset{
  margin-left: 50px;
}

#reset{
  margin-top: 10px;
  margin-left: 60px;
}

fieldset {

  margin: 0px 15%;

  border: 1px solid rgb(255, 255, 255);
}

.gameplayol {
  padding-left: 200px;

}

select#game {
  margin-top: 10px;
}

main#main2 {
  background-color: goldenrod;
}

main#main2 p#lastp {

  padding-bottom: 10px;

}

h2 {
  text-align: left;
  padding-top: 10px;

}



/* || header layout */

header {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  background-color: #000;
}





header nav ul li a {

  color: antiquewhite;

}

article {
  flex: 4;
  background-color: goldenrod;
}



h1 {
  flex: 5;
  text-align: center;
  padding-top: 15px;
}

h1 a {
  color: aliceblue;
  text-decoration: none;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
  justify-content: flex-start;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a,
nav span {

  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
}



.responsive {

  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  width: 80%;

}

iframe {
  margin-top: 20px;
  margin-left: 60px;
  width: 90%;
  margin-bottom: 20px;
  border: 5px solid black;
  border-style: dashed;
}

main {
  background-color: goldenrod;
  margin-top: 10px;
  margin-bottom: 10px;
}



.mainlore {

  padding-bottom: 10px;
}

main h2 {
  padding-left: 10px;

}

main aside {
  width: 60%;
  float: right;

}

.fmp {
  padding-bottom: 50px;
}

main p {
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
  padding-top: 40px;
  word-spacing: 3px;
}

#rec {
  border-bottom: 2px solid black;
  border-right: none;
}

#notrec {
  border-right: none;
  padding-right: 10px;
}

#rec,
#notrec {
  border-right: 2px solid black;

}

a:hover {

  color: goldenrod;

}

ol {
  margin-left: 35px;
}

ol li {
  padding-bottom: 5px;
  padding-right: 300px;
  margin-left: 30px;

}

footer {
  color: aliceblue;
  background-color: #000;
}


footer p {
  padding-top: 10px;
  width: auto;
}

.bot {

  padding-bottom: 10px;
}


footer p {
  padding-left: 20px;
}

#lastplore {
  padding-bottom: 10px;
}

table {
  color: black;
  border: 2px solid black;
  margin: 0 auto;
}

#topplore,
#midplore,
#lastplore {
  margin: auto;
  border: 5px dotted black;
}

#topplore {

  padding-bottom: 30px;
  border-bottom: none;
}

#midplore {
  padding-bottom: 30px;
  border-bottom: none;
}

#lastplore {
  padding-bottom: 30px;
  margin-bottom: 10px;
}

aside p {

  padding-bottom: 10px;
  width: auto;
}

.pgameplay {

  margin-left: 225px;
  margin-right: 10px;
  padding-bottom: 20px;
}

.pgalery {
  width: auto;
}

.last {
  border: none;

}

td {
  text-align: center;
  font-family: 'Red Hat Mono', monospace;

}

#mainchar {

  padding-bottom: 30px;
  color: black;
  background-color: goldenrod;
}

td {
  border-right: 1px solid;

}

#rec {
  text-decoration: underline;
  text-underline-position: under;

}

#notrec {
  text-decoration: underline;
  text-underline-position: under;
}


ol li {
  font-family: 'Red Hat Mono', monospace;
  text-align: justify;
}